@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Handjet:wght@100..900&family=Ubuntu+Condensed&display=swap');

.container {
    display: grid;
    grid-template-areas: 
        'heading'
        'secondary_content'
        'links'
        'footer';
    gap: 10px;
}

.fieldset_footer {
    margin: 1px;
}

@media (max-width: 768px){
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "heading"
            "links"
            "secondary_content"
            "footer";
    }
    .page2 {
        grid-template-columns: repeat(1,1fr);
        grid-template-areas:
            "vid"
            "about_me"
            "contact";
    }
}

@media (min-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "heading"
            "links"
            "secondary_content"
            "footer";
    }
    .page2 {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
            "vid"
            "about_me"
            "contact";
    }
    .vid {
        grid-column: 1 / span 2;
        justify-content: center;
    }
}

@media (min-width: 1215px){
    .container{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "heading"
            "links"
            "secondary_content"
            "footer";
    }
    .page2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "vid about_me contact";
    }
    .vid {
        grid-area: vid;
    }

    .about_me {
        grid-area: about_me;
    }

    .contact {
        grid-area: contact;
    }
}

.heading {
    grid-area: heading;
    grid-column: 1 / span2;
    color: white;
    text-align: center;
    font-size: 80px;
}

.face_pic {
    height: auto;
    width: 400px;
    border-radius: 50%;
    border: 5px solid #f7f7f7;
}

.body_index {
    background-image: url(https://images3.alphacoders.com/830/thumb-1920-83067.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}
.links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.links a {
    padding: 10px;
    margin: 5px 0;
    color: white;
}
.footer {
    /* grid-area: footer; */
    color: rgb(255, 255, 255);
    font-size: 50px;
    grid-column: span 2;
    text-align: center;
    font-family: "Baskervville SC", serif;
}
.vid {
    margin-left: 15px;
    margin-top: 35px;
    height: auto;
    width: 455px;
    border: 2px solid #ffffff; 
    border-radius: 10px; 
    box-sizing: border-box;
    object-fit: cover;
}
ul {
    font-size: 30px;
    color: azure;
    position: relative;
}
.page2 {
    display: grid;
    gap: 10px;
    padding-bottom: 20px;
}
.about_me {
    margin-top: 20px;
    padding-bottom: 1px;
    margin-left: 5px;
    background-color: rgba(188, 181, 181, 0.1);
}
.intro {
    color: #f7f7f7;
    font-size: 30px;
    text-decoration: none !important;
}
legend {
    color: #f7f7f7;
    font-size: 45px;
}
.contact {
    margin-top: 20px;
    background-color: rgb(188, 181, 181, 0.1);
}
.line1 {
    position: absolute;
    color: #f7f7f7;
    margin-top: 250px;
    margin-left: -60px;
    font-size: 30px;
    font-family: "Handjet", sans-serif;
}
.line2 {
    position: absolute;
    color: #f7f7f7;
    margin-top: 340px;
    /* margin-left: -60px; */
    margin-left:68px;
    font-size: 30px;
    font-family: "Handjet", sans-serif;
}

.Head_J {
    font-size: 70px;
    color: #f7f7f7;
    text-align: center;
}

.Head_F {
    font-size: 60px;
    color: #f7f7f7;
}

a {
    font-size: 30px;
    padding: 50px;
}

.body_journey {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: black;
    grid-area: 
        "Head_J Year"
        "journey_homepage";
}
.body_future {
    display: flex;
    flex-direction: column;
    background-color: black;
}
.Year {
    padding: 50px;
    text-align: left;
    line-height: 1.5;
}
.future_content {
    color: #ffffff;
    font-size: 30px;
    line-height: 1.5;
    margin-left: 55px;
    margin-right: 55px;
}
.journey_homepage {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
